.DS_Store
# dependencies
node_modules
*.local

# logs
npm-debug.log

# Vue generate
dist
generated:production
.vite-ssg-dist
.vite-ssg-temp

# Yarn2
.yarn/cache
.yarn/unplugged
.yarn/build-state*.yml
.yarnrc.yml
.pnp.*

# Service worker
# sw.*

# vscode
.history
=*

# images
*.afdesign
*.afphoto

tmp
dist
dist-ssr
node_modules
.idea/
*.log
cypress/downloads

.env
.vercel
