/* windicss-touch: 1662905186671 */
html.dark .App{
  @apply bg-dark-50 text-light-50;
  // background: #121212;
  color-scheme: dark;
}

[class*="before:"]::before {
  content: "";
}

[class*="after:"]::after {
  content: "";
}

